<nav class="bg-neutral-primary fixed w-full z-20 top-0 inset-s-0 border-b border-default">
  <div class="max-w-7xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="/images/route.png" class="h-9 rounded-3xl" alt="Flowbite Logo" />
      <span class="self-center text-xl text-heading font-semibold whitespace-nowrap">Route Posts</span>
    </a>
    <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button type="button"
        class="flex text-sm bg-neutral-primary rounded-full md:me-0 focus:ring-4 focus:ring-neutral-tertiary"
        id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
        data-dropdown-placement="bottom">
        <span class="sr-only">Open user menu</span>
        <img class="w-8 h-8 rounded-full" [src]="userData.photo" alt="user photo">
      </button>
      <!-- Dropdown menu -->
      <div class="z-50 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
        id="user-dropdown">
        <div class="px-4 py-3 text-sm border-b border-default">
          <span class="block text-heading font-medium">{{userData.name}}</span>
          <span class="block text-body truncate">{{userData.email}}</span>
        </div>
        <ul class="p-2 text-sm text-body font-medium" aria-labelledby="user-menu-button">

          <li>
            <a routerLink=""
              class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">Settings</a>
          </li>

          <li>
            <a (click)="logout()"
              class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded">Sign
              out</a>
          </li>
        </ul>
      </div>
      <button data-collapse-toggle="navbar-user" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-body rounded-base md:hidden hover:bg-neutral-secondary-soft hover:text-heading focus:outline-none focus:ring-2 focus:ring-neutral-tertiary"
        aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
          viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-default rounded-base bg-neutral-secondary-soft md:flex-row md:space-x-14 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-neutral-primary">

        <li class="relative">
          <a routerLink="feed" routerLinkActive="text-brand md:text-fg-brand active-link"
            [routerLinkActiveOptions]="{exact: true}"
            class="flex items-center justify-center py-2 px-6 text-heading hover:text-fg-brand md:p-0 transition-colors group">
            <i class="fa-solid fa-house text-2xl"></i>
            <span
              class="absolute -bottom-4.5 left-0 w-full h-0.75 bg-brand md:bg-fg-brand rounded-t-lg hidden group-[.active-link]:block"></span>
          </a>
        </li>

        <li class="relative">
          <a routerLink="profile" routerLinkActive="text-brand md:text-fg-brand active-link"
            class="flex items-center justify-center py-2 px-6 text-heading hover:text-fg-brand md:p-0 transition-colors group">
            <i class="fa-solid fa-user text-2xl"></i>
            <span
              class="absolute -bottom-4.5 left-0 w-full h-0.75 bg-brand md:bg-fg-brand rounded-t-lg hidden group-[.active-link]:block"></span>
          </a>
        </li>

        <li class="relative">
          <a routerLink="notification" routerLinkActive="text-brand md:text-fg-brand active-link"
            class="flex items-center justify-center py-2 px-6 text-heading hover:text-fg-brand md:p-0 transition-colors group">
            <i class="fa-solid fa-comment-dots text-2xl"></i>
            <span
              class="absolute -top-1 -right-1 flex h-5 w-5 items-center justify-center rounded-full bg-red-600 text-2xs font-bold text-white border-2 border-neutral-primary">
              {{notificationCount}}
            </span>
            <span
              class="absolute -bottom-4.5 left-0 w-full h-0.75 bg-brand md:bg-fg-brand rounded-t-lg hidden group-[.active-link]:block"></span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>